### Author: Asad Qadri

# Bank Note Authentication

In [1]:
#Importing Libraries:
import pandas as pd
import numpy as np

In [2]:
#Dataset
df = pd.read_csv("BankNoteAuthentication.csv")
df.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [3]:
#Independent Feature:
X = df.iloc[:,:-1]
X.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [4]:
#Dependent Feature:
y = df.iloc[:,-1]
y

0       0
1       0
2       0
3       0
4       0
       ..
1367    1
1368    1
1369    1
1370    1
1371    1
Name: class, Length: 1372, dtype: int64

In [5]:
#Train Test Split:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [6]:
#Implement Classifier:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(X_train, y_train)

RandomForestClassifier()

In [7]:
y_predict = classifier.predict(X_test)

In [8]:
#Check Accuracy:
from sklearn.metrics import accuracy_score
AccuracyScore = accuracy_score(y_test, y_predict)
AccuracyScore

0.9878640776699029

In [9]:
#Create Pickle File:
import pickle
pickle_out = open("classifier.pkl", "wb")
pickle.dump(classifier, pickle_out)
pickle_out.close()

In [10]:
#Predicting with any random value:
classifier.predict([[2,3,4,1]])

array([0], dtype=int64)

In [11]:
classifier.predict([[2,-3,-4,1]])

array([1], dtype=int64)